@font-face {
  font-family: "Lunchtype24";
  src: local(Lunchtype24-Regular-Expanded),
    url(fonts/Lunchtype24-Regular-Expanded.ttf) format("TrueType");
}

@font-face {
  font-family: "Helvetica Neue";
  src: url(fonts/HelveticaNeue-Roman.otf) format("OpenType");
}

body {
  margin: 0;
  padding: 0;
  background: #f8f8f8;
  height: 100%;
}

h1,
h2 {
  /* font-family: "Lunchtype24", Helvetica, sans-serif; */
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 1rem;
  letter-spacing: -0.04em;
  margin: 0.9rem 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.8);
  line-height: 150%;
}

p {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: -0.04em;
  margin: 0 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.8);
  line-height: 150%;
}
